<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="" class="navbar-brand">Recipie Book</a>
    </div>
    <div class="navbar-default  ">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="recipies">
            Recipies</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="shopping-list">
            Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li>
            <a routerLink="signup">Sign UP</a>
          </li>
          <li>
            <a routerLink="signin">Sign IN</a>
          </li>
        </ng-template>
        <li *ngIf="authService.isAuthenticated()">
          <a (click)="authService.logout()">LogOut</a>
        </li>
        <li appDropDown class="dropdown" *ngIf="authService.isAuthenticated()">
          <a class="ng -toggle" role="button">Manage
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li (click)="onSave()">
              <a>Save Data</a>
            </li>
            <li (click)="onLoadFromServer()">
              <a>Fetch Data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
