<a class="list-group-item clearfix" [routerLink]="[index]" routerLinkActive="active">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{recipie.name}}</h4>
    <p class="list-group-item-text">{{recipie.description}}</p>
  </div>
  <span class="pull-right">
    <img 
    [src]="recipie.imagePath" 
    [alt]="recipie.name" 
    class="img-responsive" 
    style="max-height: 50px;">
  </span>
</a>