<div class="row">
  <div class="col-xs-12">
    <img [src]="recipie.imagePath" alt="{{ recipie.name }}" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipie.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropDown class="btn-group">
      <button type="button" 
      class="btn btn-primary dropdown toggle">
      Manage Recipie
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a (click)="onAddtoShoppingList()">Add Ingredients to Shopping lIst</a></li>
      <li><a (click)="onEditRecipie()">Edit Recipie</a></li>
      <li><a (click)="onDeleteRecipie()">Delete Recipie</a></li>
    </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipie.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li *ngFor="let ingredient of recipie.ingredients" class="list-group-item">
        {{ ingredient.name }} {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>