<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipie()">New Recipie</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
      <app-recipie-item *ngFor="let recipieElement of recipies; index as i" 
      [recipie]="recipieElement" [index]="i"></app-recipie-item>
  </div>
</div>

